.scrollComponent{
    /* display: flex; */
    justify-content: center;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    position: relative;
    gap: 1.3rem;
    align-items: center;
    background: rgb(255, 246, 246);
    border-radius: 20px;
    


}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 90%;
}
.userProfile{
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}
.createPostContainer>textarea{
    width: 100%;

}
.Fab{
    background: rgb(0,59,130);
    border-radius: 100%;
    justify-content: center;
    display: flex;
}
.Fab > svg{
    width: fit-content;
    height: 40px;
    color: white;
}
.textAreaContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}
.uploadButton{
    position: absolute;
    right: 0;
    bottom: -22px;
    cursor: pointer;
    background: rgb(0, 95, 0);
    color: white;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 0.2rem;
}
.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);

    
}

.singleComment {
    position: relative;
    padding: 1.2rem;
    background: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;

    background: rgb(255, 240, 240);
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;
}

.deleteIcon {
    height: 1rem;
    width: 1rem;
    color: red;
}

.deleteButton:hover {
    background: rgb(255, 220, 220);
    transform: scale(1.08);
}


.singleCard_profileContainer{
   display: flex;
   align-items:flex-start;
   gap: 1.2rem;
   padding: 1.2rem;
   padding-right: 3.4rem;
   cursor: pointer;
}
.singleCard_profileContainer > img{
   width: 10%;
   border-radius: 50%;

}
.singleCard_img{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard_img>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}
.singleOption_optionsContainer{
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.singleOption_optionsContainer > svg{
    width: 15%;
    height: 100%;
    min-width: 1rem;
}

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(0,0,0,0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;

}
.allCommentsConatiner{
    max-width: 1120px;
    min-width: 50svw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}

.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.postCommentContainer>input{
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    border: none;
    background-color: rgb(228,228,228);
    border-radius: 10px;
    outline: none;
}

.postCommentContainer>input:focus{
    border: 1px solid silver;
}

.postCommentContainer_commentBtn{
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    background: orangered;
    border-radius: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

@media  screen and (max-width:600px){
    .allCommentsConatiner{
        width: 90%;
    }
}